<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
</head>
<body>

   <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="active">@Html.ActionLink("Início", "Index", "Home")</li>
                <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li class="active">@Html.ActionLink("Início", "Index", "Home")</li>
        <li>@Html.ActionLink("Sobre", "About", "Home")</li>
        <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
    </ul>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/materialize")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        var elem = document.querySelector('.sidenav');
        var instance = M.Sidenav.init(elem, options);

        // Or with jQuery

        //$(document).ready(function () {
        //    $('.sidenav').sidenav();
        //});
    </script>
</body>
</html>
